@model GigHub.Core.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Gig Details</h2>

<h3 id="followee">
    @Model.Gig.Artist.Name
    @if (User.Identity.IsAuthenticated)
    {

        <button data-user-id="@Model.Gig.ArtistId"
                class="btn @(Model.IsFollowing ? "btn-info" : "btn-default")
                                   btn-sm js-toggle-follow follow-button">
            @(Model.IsFollowing ? "Following" : "Follow")
        </button>
    }

</h3>
<p>
    Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("M/d/yyyy") at @Model.Gig.DateTime.ToString("h:mm tt").
</p>

@if (User.Identity.IsAuthenticated && Model.IsAttending)
{
    <p>You are going to this event.</p>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            GigsDetailsController.init("#followee");
        });
    </script>
}