<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GigHub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GigHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Add a Gig", "Create", "Gigs")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GigHub</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
            _.each(notifications, function(notification){
                if(notification.type == 1){ %>
                    <li><span class="highlight"><%= notification.gig.artist.name %></span> has canceled the gig at <span class="highlight"><%= notification.gig.venue %></span> at <span class="highlight"><%= moment(notification.gig.dateTime).format("M/d/yyyy h:mm A") %></span>.</li>
                <% }
                
                else if(notification.type == 2){
                    var changes = [];
                    var originalValues = [];
                    var newValues = [];

                    if(notification.originalVenue != notification.gig.venue){
                        changes.push('venue');
                        originalValues.push(notification.originalVenue);
                        newValues.push(notification.gig.venue);
                    }

                    if(notification.originalDateTime != notification.gig.dateTime){
                        changes.push('date/time');
                        originalValues.push(moment(notification.gig.dateTime).format("M/d/yyyy h:mm A"));
                        newValues.push(moment(notification.gig.dateTime).format("M/d/yyyy h:mm A"));
                    }
                %>
                    <li><span class="highlight"><%= notification.gig.artist.name %></span> has changed the <span class="highlight"><%= changes.join(' and ')%></span> of the gig from <span class="highlight"><%= originalValues.join('/') %></span> to <span class="highlight"><%= newValues.join('/') %></span>.</li>
                <%
                }
            })
            %>
        </ul>
    </script>
    <!-- TODO Need to refactor this to separate javascript file.-->
    <script>
        $(document).ready(function () {
            NotificationController.displayNewNotifications();
        });
    </script>

</body>
</html>